<h1 class="page-header">Курс доллара к рублю</h1>

<div class="jumbotron">
  <h1 class="text-center">
    <span class="js-ruble-monitor"><%= @ruble_rate %></span><small><span class="glyphicon glyphicon-ruble"></span></small>
  </h1>
  <p class="text-right">= 1 Доллар США</p>
</div>
